html {
	border-top: 8px solid #aaa;
    border-bottom: 8px solid #aaa;
	padding: 0.5em 0 0.5em 0;
    margin: 1em;
    font-size: 1em;
    font-family:"Calibri","Arial",sans-serif;
	columns: 25em 3;
	column-rule: 1px solid #ccc;
	column-gap: 2em;
	column-fill: balance;
	background: #eee;
}

html::before {
    content: "Xi Docs, © Rappsilber Lab 2019";
    float: right;
	top: -0.5em;
	position: relative;
}

body {
    height: auto;
	margin: 0;
	padding: 0;
	color: #222;
}

h2 {
    font-size: 2.5em;
    border-bottom: 1px solid black;
	margin-top: 0.5em;
}

h1 {
    font-size: 4em;
    border-bottom: 2px solid black;
	margin-top: 0;
	column-span: all;
}

img {
    max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #ccc;
    box-shadow: 6px 6px 5px #bbb;
	margin-bottom: 3em;
	padding-bottom: 0;
	transform: scale(1);
	transition: transform 2s;
}

img:hover {
	will-change: transform;
	transform: scale(2);
}

p {
}