html {
	border-top: 8px solid #aaa;
    border-bottom: 8px solid #aaa;
	padding: 0.5em 0 0.5em 0;
    margin: 1em;
    font-size: 1em;
    font-family:"Calibri","Arial",sans-serif;
	columns: auto 25em;
	background: #eee;
}

html::before {
    content: "Xi Docs, © Rappsilber Lab 2018";
    float: right;
	top: -0.5em;
	position: relative;
}

body {
    height: auto;
	margin: 0 1em 0 1em;
	padding: 0;
	color: #222;
}

h2 {
    font-size: 2.5em;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 4em;
    border-bottom: 2px solid black;
}

img {
    max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #ccc;
    box-shadow: 6px 6px 5px #bbb;
	margin-bottom: 3em;
	padding-bottom: 0;
}

p {
}