<!DOCTYPE html>
<html>
<head>
<title>3dngl</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("../../docs.css");
@import url("../docs.css");
@import url ("/xidocs/docs.css");
</style>
</head>
<body>
<h2>3D (NGL) View</h2>
<p><img src="../../img/3d.png" alt="3D View" /></p>
<p>This view integrates the NGL 3D viewer (see references below) within Xi, showing the currently filtered cross-links in the context of a chosen PDB structure.</p>
<h3>Representation</h3>
<p>The majority of the panel is devoted to a 3D representation of the loaded PDB file. Proteins are shown as configurable structures with cross-links superimposed on top as elongated coloured bars. Residues at either end of the cross-links are shown as small grey spheres. Cross-links where only one end is contained within the PDB are shown as residues.</p>
<p>Within this panel are two short pieces of textual information giving the PDB filename and the coverage it has of the proteins and cross-links in the search. This coverage can range from complete (100%) for single proteins with a fully covering PDB to tiny fractions (1-2%) for large protein complexes. The number of cross-links can similarly vary from all of the currently filtered cross-links to only a handful where a PDB covers only a small fraction of the search proteins. As a rule of thumb a PDB file that covers only 50% of the protein sequences in a search can expect to display 25% (0.5 squared) of the full link set (both residues are covered) and 50% of the remaining links with one residue covered. For 10% coverage this drops to 1% (0.1 squared) for full links and 18% for half links.</p>
<h3>Direct Interaction</h3>
<p>Positional manipulation of the view is performed by clicking anywhere on the view and dragging the mouse pointer with the following effects:</p>
<ul>
<li>Left-click and drag - rotates structure around XY axes (up/down drags around X axis, left/right around Y axis)</li>
<li>Right-click, CTRL key and drag - rotates structure around Z axis</li>
<li>Right-click and drag - pans structure in XY plane</li>
<li>Left-click, CTRL key and drag - pans structure in XY plane (same as above)</li>
<li>Left-click, SHIFT key and drag - zooms in/out of structure</li>
<li>Mouse-wheel - zooms in/out of structure (same as above)</li>
<li>Mouse-wheel and SHIFT key - moves the near clip and far fog effects in and out of the z-axis. Useful for seeing slices of structure but beware doing it by accident. If you're seeing large parts of the structure cut off when you rotate it this is what you've done.</li>
</ul>
<p>Pressing certain keys also performs operations on the view:</p>
<ul>
<li>'R' - Re-position the structure so it sits in the centre of the window</li>
<li>'I' - Slowly rotates the structure around the Y-axis - toggle back off by pressing 'I' again</li>
<li>'K' - Slowly oscillate the structure around the Y-axis - aids depth perception of structure</li>
</ul>
<p>A more in-depth manual for NGL is available here --&gt; <a href="http://nglviewer.org/ngl/api/manual/index.html" title="http://nglviewer.org/ngl/api/manual/index.html">NGL Manual</a></p>
<p>Like the other views in Xi View, individual cross-links can be highlighted by moving the mouse pointer over them (plus a tooltip supplies details on the particular cross-link). Similarly, cross-links can be selected by using the left mouse button. In conjunction with the CTRL key, multiple cross-links can be selected (by clicking on unselected links) and currently selected cross-links can be unselected.</p>
<p>Clicking with the left mouse button on the background of the view will clear all selections.</p>
<h3>Options</h3>
<p>There are a number of options available that can affect the visual presentation of the cross-links in the 3D view.</p>
<p>The &quot;Re-Centre&quot; button re-centres the structure within the panel (also available by pressing &quot;R&quot;.)</p>
<p>There are three single selection drop-downs for choosing the parts of the PDB to display and for styling the protein structure itself. The first, &quot;Assembly&quot;, offers a choice of which biological assembly within the PDB file to display. The default is the whole PDB structure, and other options may include UnitCell (usually the same thing), SuperCell (multiple copies of the PDB arranged spatially) and various Biological Assemblies. These Biological Assemblies can range in scale from part of the PDB, through matching the PDB exactly, up to being composed of multiple copies of the PDB - experimentation with these settings is the only way to find out for certain though details on definitions can be found at <a href="https://pdb101.rcsb.org/learn/guide-to-understanding-pdb-data/biological-assemblies" title="Biological Assemblies">https://pdb101.rcsb.org/learn/guide-to-understanding-pdb-data/biological-assemblies</a>.</p>
<p>The choice of assembly is important as it also usually constrains the PDB sub-structure on which cross-link distances will be calculated. For instance with PDB 1AO6, choosing to display the full PDB (two adjacent copies of the same protein) will look for possible cross-links within <em>and between</em> those two proteins. Choosing to display just one of the proteins (Bio-Assembly 1 or 2) will limit cross-link calculation to within just this protein.</p>
<p>The second, &quot;Draw Proteins&quot;, changes the style of the protein representation. The default is &quot;Cartoon&quot; with other styles described here --&gt; <a href="%22http://nglviewer.org/ngl/api/manual/molecular-representations.html%22">NGL Representation Styles</a>. In practice, they range from atom-level representations like &quot;Point&quot; or &quot;Ball+Stick&quot; to more abstract representations such as &quot;Rope&quot; or &quot;Cartoon&quot;.</p>
<p>The third selection dropdown, &quot;Colour Proteins&quot;, controls the colouring of the protein representations. They range from the default &quot;Uniform&quot; grey colouring to colour schemes that change on a per-atom or per-residue basis such as &quot;Element&quot; or &quot;Residue Name&quot;. Consequently, some colour schemes are only useful in conjunction with given representation styles e.g. the &quot;Element&quot; colour scheme works with &quot;Ball+Stick&quot; but has no effect in the &quot;Cartoon&quot; representation. A full list of NGL colour schemes can be found here --&gt; <a href="%22http://nglviewer.org/ngl/api/manual/coloring.html%22">NGL Colour Schemes</a>. There is one XiView specific scheme - &quot;Residues with Half-Links&quot; - that highlights residues that form one end of a cross-link where the other end is out of scope of the PDB structure.</p>
<p>Another drop-down menu, &quot;Show&quot;, holds several options for setting various decorations on the protein structure, and some options for controlling how cross-links are superimposed upon the structure.</p>
<p>For cross-links there are two independent options, we can:</p>
<ol>
<li>Show selected cross-links only - this reduces clutter and selected cross-links aren't obscured by unselected cross-links, which is particularly noticeable in 3D.</li>
<li>Show shortest possible cross-links only - in PDB structures with multiple copies of a protein, there are multiple places a cross-link could be positioned. E.g. in a dimer structure (protein copies A and B) a cross-link between positions 1 and 2 could have four possible solutions, A1-A2, A1-B2, B1-A2 or B1-B2. This setting, selected by default, tells the view to show only the shortest possible cross-link out of these possibilities.</li>
<li>Show Inter-Model distances - PDB structures are sometimes divided into separate models. These models may not be accurately aligned to each other or may even be a number of slightly different alternative structures occupying the same space, and thus distances between them may be meaningless. By default this option is set to off, but can be checked and will then calculate distances between residues in different PDB models.</li>
</ol>
<p>The other available options under &quot;Show&quot; are</p>
<ul>
<li>Show Cross-Linked Residues - represent residues as balls at the ends of displayed cross-links.</li>
<li>Show All Proteins - show proteins in multiple protein PDBs that aren't potentially involved in the current set of filtered cross-links.</li>
<li>Show Distance Labels - displayed cross-links are annotated with a small label showing their length in Angstroms. These show up regardless for selected or highlighted cross-links.</li>
<li>Protein Chain Label Style - Long, Short, None, Fixed Size - a set of radio buttons for deciding the content of the label annotating each protein. Long for a verbose description which NGL pulls from the PDB file (plus the short description), short for a label with the protein name and chain index, and none to remove these labels altogether. A final checkbox, &quot;Fixed Size&quot;, determines whether these labels stay a fixed size when the structure is zoomed in or out.</li>
</ul>
<p>Finally, the &quot;Export&quot; dropdown offers three options for exporting various parts of the PDB/cross-links combinations.</p>
<ul>
<li>
<p>PDB &amp; Cross-Links - Exports a basic copy of the PDB file (ATOM records only) with a number of LINK and CONECT files that represent cross-links that can be fully plotted within the structure. Since this is a PDB file, there is a limit of 100,000 atoms and structures with more than one model (NGL fuses PDBs by giving them different model indices) cannot have their inter-model cross-links successfully exported. This can be used in various molecule viewers but usually requires trial and error to figure out how to get the cross-links to appear in each one.</p>
</li>
<li>
<p>Pymol Command File - Exports a Pymol command file that will reload and render the cross-links in the Pymol viewer. This supports multiple PDB files and inter-model/PDB cross-links, but obviously is limited to Pymol only.</p>
</li>
<li>
<p>Haddock Distance Restraints File - for us with the <a href="https://haddock.science.uu.nl/services/HADDOCK2.2/">HADDOCK</a> structure docker, this exports all the inter-model cross-links in a format compatible with the HADDOCK tool. These inter-model cross-links tend to be those we know exist between two pdb files, but since we cannot be sure of the PDB's relative orientation their distances are meaningless. However, HADDOCK can use their existence and restrictions based on cross-linker length to calculate the correct (or near to) orientation.</p>
</li>
</ul>
<p>There is one remaining button which sits by itself, &quot;Download Image as PNG&quot;, which will download a PNG (bitmap format) file of the current state of the 3D view. A vector graphic format is not available for this view. The filename will include information on search id and current filter settings.</p>
<h3>References</h3>
<ul>
<li>AS Rose, AR Bradley, Y Valasatava, JM Duarte, A Prlić and PW Rose. <em>NGL viewer: web-based molecular graphics for large complexes.</em> Bioinformatics: bty419, 2018. <a href="http://dx.doi.org/10.1093/bioinformatics/bty419">doi:10.1093/bioinformatics/bty419</a></li>
<li>AS Rose and PW Hildebrand. <em>NGL Viewer: a web application for molecular visualization.</em> Nucl Acids Res (1 July 2015) 43 (W1): W576-W579 first published online April 29, 2015. <a href="https://doi.org/10.1093/nar/gkv402">doi:10.1093/nar/gkv402</a></li>
</ul>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
