<!DOCTYPE html>
<html>
<head>
<title>3dngl</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("/xidocs/docs.css");
</style>
</head>
<body>
<h2>3D (NGL) View</h2>
<p><img src="../../img/3d.png" alt="3D View" /></p>
<p>This view integrates the NGL 3D viewer (see references below) within Xi, showing the currently filtered cross-links in the context of a chosen PDB structure.</p>
<h3>Representation</h3>
<p>The majority of the panel is devoted to a 3D representation of the loaded PDB file. Proteins are shown as configurable structures with cross-links superimposed on top as elongated coloured bars. Residues at either end of the cross-links are shown as small grey spheres.</p>
<p>Within this panel is a short piece of textual information giving the PDB filename and the coverage it has of the proteins in the search. This coverage can range from complete (100%) for single proteins with a fully covering PDB to tiny fractions (1-2%) for large protein complexes.</p>
<h3>Direct Interaction</h3>
<p>Positional manipulation of the view is performed by clicking anywhere on the view and dragging the mouse pointer with the following effects:</p>
<ul>
<li>Left-click and drag - rotates structure around XY axes (up/down drags around X axis, left/right around Y axis)</li>
<li>Right-click, CTRL key and drag - rotates structure around Z axis</li>
<li>Right-click and drag - pans structure in XY plane</li>
<li>Left-click, CTRL key and drag - pans structure in XY plane (same as above)</li>
<li>Left-click, SHIFT key and drag - zooms in/out of structure</li>
<li>Mouse-wheel - zooms in/out of structure (same as above)</li>
<li>Mouse-wheel and SHIFT key - moves the near clip and far fog effects in and out of the z-axis. Useful for seeing slices of structure but beware doing it by accident. If you're seeing large parts of the structure cut off when you rotate it this is what you've done.</li>
</ul>
<p>Pressing certain keys also performs operations on the view:</p>
<ul>
<li>'R' - Re-position the structure so it sits in the centre of the window</li>
<li>'I' - Slowly rotates the structure around the Y-axis - toggle back off by pressing 'I' again</li>
<li>'K' - Slowly oscillate the structure around the Y-axis - aids depth perception of structure</li>
</ul>
<p>A more in-depth manual for NGL is available here --&gt; <a href="http://nglviewer.org/ngl/api/manual/index.html" title="http://nglviewer.org/ngl/api/manual/index.html">NGL Manual</a></p>
<p>Like the other views in Xi View, individual cross-links can be highlighted by moving the mouse pointer over them (plus a tooltip supplies details on the particular cross-link). Similarly, cross-links can be selected by using the left mouse button. In conjunction with the CTRL key, multiple cross-links can be selected (by clicking on unselected links) and currently selected cross-links can be unselected.</p>
<p>Clicking with the left mouse button on the background of the view will clear all selections.</p>
<h3>Options</h3>
<p>There are a number of options available that can affect the visual presentation of the cross-links in the 3D view.</p>
<p>The &quot;Re-Centre&quot; button re-centres the structure within the panel (also available by pressing &quot;R&quot;.)</p>
<p>There are two single selection drop-downs for styling the protein structure itself. The first, &quot;Draw Proteins&quot;, changes the style of the protein representation. The default is &quot;Cartoon&quot; with other styles described here --&gt; <a href="&quot;http://nglviewer.org/ngl/api/manual/molecular-representations.html&quot;">NGL Representation Styles</a>. In practice, they range from atom-level representations like &quot;Point&quot; or &quot;Ball+Stick&quot; to more abstract representations such as &quot;Rope&quot; or &quot;Cartoon&quot;.</p>
<p>The second selection dropdown, &quot;Colour Proteins&quot;, controls the colouring of the protein representations. They range from the default &quot;Uniform&quot; grey colouring to colour schemes that change on a per-atom or per-residue basis such as &quot;Element&quot; or &quot;Residue Name&quot;. Consequently, some colour schemes are only useful in conjunction with given representation styles e.g. the &quot;Element&quot; colour scheme works with &quot;Ball+Stick&quot; but has no effect in the &quot;Cartoon&quot; representation. A full list of NGL colour schemes can be found here --&gt; <a href="&quot;http://nglviewer.org/ngl/api/manual/coloring.html&quot;">NGL Colour Schemes</a>.</p>
<p>A third drop-down menu, &quot;Show&quot;, holds options for setting various decorations on the protein structure, and some options for controlling how cross-links are superimposed upon the structure.</p>
<p>For cross-links there are two independent options, we can:</p>
<ol>
<li>Show selected cross-links only - this reduces clutter and selected cross-links aren't obscured by unselected cross-links, which is particularly noticeable in 3D.</li>
<li>Show shortest possible cross-links only - in PDB structures with multiple copies of a protein, there are multiple places a cross-link could be positioned. E.g. in a dimer structure (protein copies A and B) a cross-link between positions 1 and 2 could have four possible solutions, A1-A2, A1-B2, B1-A2 or B1-B2. This setting, selected by default, tells the view to show only the shortest possible cross-link out of these possibilities.</li>
</ol>
<p>The other available options under &quot;Show&quot; are</p>
<ul>
<li>Show Cross-Linked Residues - represent residues as balls at the ends of displayed cross-links.</li>
<li>Show All Proteins - show proteins in multiple protein PDBs that aren't potentially involved in the current set of filtered cross-links. </li>
<li>Show Distance Labels - displayed cross-links are annotated with a small label showing their length in Angstroms. These show up regardless for selected or highlighted cross-links.</li>
<li>Protein Chain Label Style - Long, Short, None - a set of radio buttons for deciding the content of the label annotating each protein. Long for a verbose description which NGL pulls from the PDB file (plus the short description), short for a label with the protein name and chain index, and none to remove these labels altogether.</li>
</ul>
<p>There is one remaining button which sits by itself, &quot;Download Image as PNG&quot;, which will download a PNG (bitmap format) file of the current state of the 3D view. A vector graphic format is not available for this view. The filename will include information on search id and current filter settings.</p>
<p>Lastly, like the other views that sit in sub-panels, the 3D view can be resized by clicking on and dragging its corners, and repositioned by clicking on and dragging the title bar. The view can be closed using the X button next to the top right-hand corner.</p>
<h3>References</h3>
<ul>
<li>AS Rose, AR Bradley, Y Valasatava, JM Duarte, A Prlić and PW Rose. <em>NGL viewer: web-based molecular graphics for large complexes.</em> Bioinformatics: bty419, 2018. <a href="http://dx.doi.org/10.1093/bioinformatics/bty419">doi:10.1093/bioinformatics/bty419</a></li>
<li>AS Rose and PW Hildebrand. <em>NGL Viewer: a web application for molecular visualization.</em> Nucl Acids Res (1 July 2015) 43 (W1): W576-W579 first published online April 29, 2015. <a href="https://doi.org/10.1093/nar/gkv402">doi:10.1093/nar/gkv402</a></li>
</ul>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
