<!DOCTYPE html>
<html>
<head>
<title>circular</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("../../docs.css");
@import url("../docs.css");
@import url ("/xidocs/docs.css");
</style>
</head>
<body>
<h2>Circular View</h2>
<p><img src="../../img/circular.png" alt="Circular View" /></p>
<h3>Representation</h3>
<p>This view uses a Circos-like layout to display the Cross-Links. Proteins are arranged around the circumference of the circle as thick arcs of lengths proportional to protein size, and cross-links are shown as curves connecting proteins at the appropriate positions. Where possible proteins are labelled with their names, though for displays showing many proteins this is not always possible, especially for shorter proteins.</p>
<h3>Direct Interaction</h3>
<p>Like the other views in Xi View, individual cross-links can be highlighted by moving the mouse pointer over them (plus a tooltip supplies details on the particular cross-link). Similarly, cross-links can be selected by using the left mouse button. In conjunction with the CTRL key, multiple cross-links can be selected (by clicking on unselected links) and currently selected cross-links can be unselected.</p>
<p>Highlighting and selecting can also be performed on the protein representations. Here, selecting a protein will also select all the cross-links that connect to it. Again, in conjunction with the CTRL key, multiple proteins can be selected and deselected.</p>
<p>Clicking with the left mouse button on the background of the view will clear all selections.</p>
<p>Manual ordering of multiple proteins can be performed by left-clicking on a protein representation and dragging to a new position around the circumference of the circle.</p>
<h3>Options</h3>
<p>There are two drop-down menus present that can affect the visual presentation of the cross-links in the circle view.</p>
<p>The first, &quot;Order Proteins&quot;, decides the ordering of proteins around the circumference and as such is useful for multiple protein searches. The proteins may be ordered either alphabetically (default), by sequence length, or using an algorithm intended to set the protein ordering to reduce visual crossings in the display (this necessarily only reduces crossings of between cross-links, self cross-links are at set positions within a single protein).</p>
<p>The second drop-down menu, &quot;Show&quot;, toggles on and off a set of visual preferences. These are:</p>
<ol>
<li>All Proteins - for searches with many proteins the circular view can become crowded. This options dynamically removes proteins which have no cross-links that pass the currently set filter. The drawback is that changing the filter will then relayout the view i.e. proteins will very much not tend to stay in the same position.</li>
<li>Residue Labels (If Few Links) - if only a small number of cross-links are currently displayed (around 20) then the amino acid letters can be shown at the ends of the cross-links.</li>
<li>Self-Links on Outside - self links can be moved to the outside of the protein circle, leaving only between links in the interior of the circle.</li>
<li>Links With Overlapping Peptides Opposite To Self Links - a.k.a. homomultimers... whichever side (in/out) self-links are displayed on, checking this setting will show homomultimeric cross-links on the other side.</li>
<li>Selected Cross-Links Only - only show currently selected cross-links in this view.</li>
</ol>
<p>Finally, there is one remaining button which sits by itself, &quot;Download Image as SVG&quot;, which will download an SVG (vector format) file of the current state of the circular view. The filename will include information on search id and current filter settings.</p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
