<!DOCTYPE html>
<html>
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("../../docs.css");
@import url("../docs.css");
</style>
</head>
<body>
<h2>Circular View</h2>
<p><img src="../../img/circular.png" alt="Circular View" /></p>
<p>This view uses a version of the popular Circos layout to display the Cross-Links. Proteins are arranged around the circumference of the circle and cross-links are shown connecting proteins at the appropriate positions.</p>
<p>Like the other views in Xi View, individual cross-links can be highlighted by moving the mouse pointer over them (plus a tooltip supplies details on the particular cross-link). Similarly, cross-links can be selected by using the left mouse button. In conjunction with the CTRL key, multiple cross-links can be selected (by clicking on unselected links) and currently selected cross-links can be unselected.</p>
<p>Highlighting and selecting can also be performed on the protein representations. Here, selecting a protein will also select all the cross-links that connect to it. Again, in conjunction with the CTRL key, multiple proteins can be selected and deselected.</p>
<p>Clicking with the left mouse button on the background of the view will clear all selections.</p>
<h3>Options</h3>
<p>There are two drop-down menus present that can affect the visual presentation of the cross-links in the circle view.</p>
<p>The first, &quot;Order Proteins&quot;, decides the ordering of proteins around the circumference (and as such is not useful for single protein searches). However, for multiple proteins, the proteins may be ordered either alphabetically (default), by sequence length, or using an algorithm intended to sort the protein ordering to reduce visual crossings in the display.</p>
<p>Example: Alphabetical sort vs Reduce Crossings sort</p>
<p><img src="../../img/circularAlphaSort.png" alt="Alphabetical Sort" /></p>
<p><img src="../../img/circularBestSort.png" alt="Reduce Crossings Sort" /></p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
