<!DOCTYPE html>
<html>
<head>
<title>scatterplot</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("/xidocs/docs.css");
</style>
</head>
<body>
<h2>Scatterplot</h2>
<p><img src="../../img/scatterplot.png" alt="Scatterplot" /></p>
<p>The scatterplot view displays the correlation of two chosen cross-link / match attributes in graphical form.</p>
<h3>Representation</h3>
<p>Every filtered cross-link or match in the current dataset (which depends on the attributes chosen) is shown as a small square, coloured according to the current colour scheme, or yellow if currently selected, or orange if currently highlighted. Decoys are also shown as unfilled (transparent) squares, which just have an outline. The title above the scatterplot details the current quantity of displayed cross-links / matches, and the categories into which they are currently divided.</p>
<h3>Interaction</h3>
<p>Moving the mouse pointer across the scatterplot displays details in a tooltip for those cross-links or matches within a set distance (usually about 20 pixels). Selection in this view is performed by left-clicking and dragging the mouse pointer to cover the ranges of the two attributes of interest. This selection action can be used in combination with the CTRL key to toggle selection states - selecting unselected elements and de-selecting currently selected elements.</p>
<h3>Options</h3>
<p>The main controls for this view are the two &quot;Plot this Data Along (X/Y)Axis&quot; dropdowns which choose the metadata attribute to be distributed in the scatterplot - one for each axis. Like the histogram, the availability of these attributes fundamentally depends on the contents of the loaded search data though additional metadata can be added using the Load &gt; Cross-Link Metadata dialog available through Xi View's top menu bar. If a PDB file has been loaded, then the Cross-Link Distances are available to plot as one of the options.</p>
<p>The &quot;Add Jitter&quot; toggle option decides whether to displace each square a small distance from its calculated position. This is useful for attributes with a small number of discrete values (e.g. Charge) where many representations would be overlaid at the same point. Turning jitter on gives a truer visual representation of the data density / distribution for these attributes.</p>
<p>As in other views, the &quot;Download Image as SVG&quot; button will download an SVG (vector format) file of the current state of the view. The filename will include information on search id and current filter settings.</p>
<p>Lastly, like the other views that sit in sub-panels, this view can be resized by clicking on and dragging its corners, and repositioned by clicking on and dragging the title bar. The view can be closed using the X button next to the top right-hand corner.</p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
