<!DOCTYPE html>
<html>
<head>
<title>searchSummaries</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("../../docs.css");
@import url("../docs.css");
@import url ("/xidocs/docs.css");
</style>
</head>
<body>
<h2>Search Summary</h2>
<p><img src="../../img/searchSummary.png" alt="Search Summary" /></p>
<h3>Representation</h3>
<p>The search summary displays an expandable/collapsible tree of metadata associated with the searches currently loaded into xiVIEW. This offers a sanity check for users to see if the searches they're viewing do indeed use the files and settings they think it does.</p>
<h3>Options</h3>
<p>For searches that include cross-linker and modification information (usually sourced from the Xi Search engine) a human-readable description of the search metadata can be downloaded by pressing the &quot;Download Search Descriptions&quot; button, often useful for publications / sharing with collaborators etc.</p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
