<!DOCTYPE html>
<html>
<head>
<title>selectionTable</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("../../docs.css");
@import url("../docs.css");
@import url ("/xidocs/docs.css");
</style>
</head>
<body>
<h2>Selected Match Table</h2>
<p><img src="../../img/selectedMatches.png" alt="Selection Table" /></p>
<p>In essence this is the bridge between making selections in a view and seeing raw data in the Spectrum View.</p>
<p>Selection of cross-links and/or matches in a view populates this paged table that fills the bottom part of the display above the filter bar - the height of the displayed area is adjustable with a draggable split pane widget.</p>
<p>In the table, matches are shown as rows which are divided into groups according to the cross-link they belong to, with cross-links in turn sorted by the score of their highest-scoring match. Ambiguous matches are repeated in each cross-link they could belong to. The title bar of the table states the number of currently selected cross-links and matches with a paging widget for tabulating through large collections of selected matches.</p>
<p>Moving the mouse over a row will highlight the match in open views, and reciprocally, highlighting matches/links in views will highlight matches in the table. The table itself has a large number of columns showing data on each match and will generally require scrolling to view its full extent.</p>
<p>The main purpose of the table is to allow selection of a single match (by left-clicking) which then prompts the Spectrum View to open and display the raw spectrum data supporting that match. If the Spectrum View is already open, making a new selection in a view (repopulating this table) will also automatically open the top match in the table in the Spectrum View.</p>
<h3>Options</h3>
<p>Options here include the paging widget for tabulating to matches with lower scores, and an option &quot;Only Show 2 Top-Scoring Matches Per Link&quot; which is self-explanatory.</p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
