<!DOCTYPE html>
<html>
<head>
<title>shared</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
@import url("/xidocs/docs.css");
</style>
</head>
<body>
<h2>Shared View Operations</h2>
<p>As well as having their own unique properties, the different views also share a number of properties and operations between them.</p>
<h3>Filtering</h3>
<p>All the positional and metadata views reflect the current filter state, only showing cross-links / matches that pass the filter settings.</p>
<h3>Selection</h3>
<p>All the positional and meta-data views also support the idea of selecting / highlighting specific cross-links and matches, with selections and highlighting performed in one view reflected in other active views.</p>
<h3>Panel View Functionality</h3>
<p>The views shown within the panels have a number of functions available through the icons at the top of the panel frame. From left to right these are:</p>
<ol>
<li>Export an image (useful when the same option in the control panel has been hidden).</li>
<li>Show / hide the view's control panel i.e. only show the visualisation.</li>
<li>Maximise / restore the panel size.</li>
<li>X - close the panel.</li>
</ol>
<p><img src="../../img/windowBar.png" alt="Window Bar" /></p>
<p>The panels can also be resized by dragging their corners and repositioned by dragging their title bars.</p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
